body {
  margin: 0;
  font-family: "Helvetica", "Lucida Grande", sans-serif;
}

/* Header */
.main-head {
  grid-area: hdr;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-head img {
  width: 150px;
}

.main-head-button {
  background: none;
  border: none;
  width: 30px;
}

.main-head-button:hover {
  cursor: pointer;
}

.main-head-button:focus {
  outline: none;
}

.main-head-button img {
  width: 100%;
}

/* Menu Modal */

  /* Modal Background */

  .blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
  }

  /* Modal Content */
  .modal-content {
    margin: 15% auto;
    text-align: center;
    width: 90%;
  }

  .modal-content ul {
    padding: 0;
  }

  .modal-content li {
    list-style-type: none;
    margin: 20px 0;
  }

  .modal-content a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }

  .modal-content a:hover {
    opacity: .7;
  }

  .modal-content img {
    width: 30px;
    color: white;
    float: left;
  }

  .modal-content input {
    background: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    color: #fff;
    padding: 0 0 10px 10px;
  }

  .modal-content input:focus {
    outline: none;
  }

  /* The Close Button */
  .close-modal {
    color: #aaa;
    float: right;
    padding: 10px 20px 0 0;
    font-size: 28px;
    font-weight: bold;
  }

  .close-modal:hover,
  .close-modal:focus {
    text-decoration: none;
    cursor: pointer;
  }

/* NavBar */
.main-nav {
  grid-area: nav;
  display: none;
}

.main-nav li {
  list-style-type: none;
}

.main-nav a {
  text-decoration: none;
  color: #666;
  font-size: .85rem;
}

.main-nav a:hover {
  color: #000;
}

/* Sale Content */
article img {
  width: 100%;
}

article img:hover {
  opacity: .7;
  cursor: pointer;
}

.hero {
  grid-area: hero;
}

.s1 {
  grid-area: s1;
}

.s2 {
  grid-area: s2;
}

.s3 {
  grid-area: s4;
}

.s3 {
  grid-area: s4;
}

/* Products */
.products-flex {
  grid-area: prod;
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 875px;
  padding: 25px 10px 10px 10px;
}

.products-flex a {
  text-decoration: none;
}

.products-flex h4, .products-flex p {
  margin: 0;
}

.products-flex p  {
  font-size: .8rem;
  color: #666;
  font-weight: lighter;
}

.product-category {
  background-color: #fff;
  border-radius: 3px;
  margin: 0 5px;
  padding-right: 5px;
}

.product-category:hover {
  cursor: pointer;
}

.product-category-flex {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.product-category img {
  width: 50px;
  min-width: 50px;
}

.product-category h6 {
  font-size: .8rem;
  color: #666;
  font-weight: lighter;
  margin: 25px 0;
}

.cat1 {
  grid-area: cat1;
}

.cat2 {
  grid-area: cat2;
}

.cat3 {
  grid-area: cat3;
}

.cat4 {
  grid-area: cat4;
}

.cat5 {
  grid-area: cat5;
}

/* New Arrivals */
.new-arrivals-flex {
  grid-area: newarr;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 25px 0 10px 0;
}

.new-arrivals-flex a {
  text-decoration: none;
}

.new-arrivals-flex h4, .new-arrivals-flex p {
  margin: 0;
}

.new-arrivals-flex p  {
  font-size: .8rem;
  color: #666;
  font-weight: lighter;
}

.newarr1 {
  grid-area: newarr1;
}

.newarr2 {
  grid-area: newarr2;
}

.newarr3 {
  grid-area: newarr3;
}

.newarr-secondary {
  display: none;
}

.newarr4 {
  grid-area: newarr4;
}

.newarr5 {
  grid-area: newarr5;
}

.newarr6 {
  grid-area: newarr6;
}

.newarr-description {
  font-size: .75rem;
  font-weight: lighter;
  color: #666;
}

/* Social Media Links */
.social-media-links {
  display: flex;
  background-color: #ebebeb;
  padding: 20px;
  margin-top: 10px;
}

.social-media-links img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.social-media-links img:hover {
  opacity: .7;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 15px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: .85rem;
  min-width: 150px;
  padding: 5px;
}

footer a:hover {
  color: #666;
}

footer p {
  color: #666;
  margin: 15px 0;
  font-size: .85rem;
}

.store-links-flex {
  display: flex;
  flex-wrap: wrap;
}

.h-line {
  background-color: #ebebeb;
  margin: 20px 0;
  width: 100%;
  height: 1px;
  opacity: .5;
}

/* Grid */
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "hdr"
    "hero"
    "s1"
    "s2"
    "s3"
    "s4"
    "s5"
    "s6"
    "s7"
    "s8";
  max-width: 875px;
  margin: 15px auto;
}

.wrapper2 {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "prod prod"
    "cat1 cat2"
    "cat3 cat4"
    "cat5 1fr";
  margin:auto;
  background-color: #ebebeb;
  padding-bottom: 25px;
}

.wrapper3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "newarr  newarr  newarr"
    "newarr1 newarr2 newarr3";
  max-width: 875px;
  margin: auto;
  padding: 0 10px;
}

/* Media Queries */
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hdr  hdr"
      "hero hero"
      "s1   s2"
      "s3   s4"
      "s5   s6"
      "s7   s8";
  }

  .wrapper2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "prod prod prod prod"
      "cat1 cat2 cat3 cat4"
      "cat5 1fr  1fr  1fr";
  }

  .hero img {
    display: block;
    width: 50%;
    margin: auto;
  }

  .social-media-links {
    padding: 20px 20px 20px 30px;
  }

  footer {
    padding: 20px 30px;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "hdr  nav  nav  nav"
      "hero hero hero hero"
      "s1   s2   s3   s4"
      "s5   s6   s7   s8";
   }

  .wrapper3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "newarr  newarr  newarr  newarr  newarr  newarr"
      "newarr1 newarr2 newarr3 newarr4 newarr5 newarr6";
  }

  .main-head {
    padding: 0;
    justify-content: center;
  }

  .main-head-button {
    display: none;
  }

  .main-nav {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .product-category {
    margin: 0 10px;
  }

  .newarr-secondary {
    display: inherit;
  }

  footer a {
    min-width: 100px;
  }
}

@media (min-width: 900px) {
  .social-media-links {
    justify-content: center;
  }

  .wrapper2 {
    max-width: 875px;
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "prod prod prod prod prod prod"
    "cat1 cat2 cat3 cat4 cat5 1fr";
  }

  .wrapper2 *, .wrapper3 {
    padding-left: 0;
    padding-right: 0;
  }

  .social-media-links img{
    margin: 0;
    padding: 0 5px;
  }
}
