body {
  margin: 0;
}

.main-head {
  grid-area: hdr;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-head img {
  width: 150px;
}

.main-nav {
  grid-area: nav;
  display: none;
}
.main-nav li {
  list-style-type: none;
}
.main-nav a {
  text-decoration: none;
  color: #666;
  font-size: .85rem;
}

article img {
  width: 100%;
}

.hero {
  grid-area: hero;
}

.s1 {
  grid-area: s1;
}
.s2 {
  grid-area: s2;
}
.s3 {
  grid-area: s4;
}
.s3 {
  grid-area: s4;
}

.social-media-links {
  display: flex;
  background-color: #ebebeb;
  padding: 15px;
}

.social-media-links img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    "hdr"
    "hero"
    "s1"
    "s2"
    "s3"
    "s4"
    "s5"
    "s6"
    "s7"
    "s8";
  max-width: 900px;
  margin: auto;
  font-family: "Helvetica", "Lucida Grande", sans-serif;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hdr  hdr"
      "hero hero"
      "s1   s2"
      "s3   s4"
      "s5   s6"
      "s7   s8";
  }

  .hero img {
    display: block;
    width: 50%;
    margin: auto;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "hdr  nav  nav  nav"
      "hero hero hero hero"
      "s1   s2   s3   s4"
      "s5   s6   s7   s8";
   }

   .main-head {
     padding: 0;
   }

   .main-nav {
     display: block;
   }

   nav ul {
     display: flex;
     justify-content: space-around;
   }
}
